@import 'nib'
@import 'nib/gradients'

*
	padding 0
	margin 0
	box-sizing border-box

::selection 
	background #ff0000
	color #fff
	fill #fff
::-moz-selection 
	background #ff0000
	color #fff
	fill #fff

body
	font-family: 'Gotham A', 'Gotham B'; font-weight: 400; font-style: normal;
	font-size 14px
	line-height 30px
	color #fff

h1, h2, h3, h4, h5
	font-family 'Hoefler Titling A', 'Hoefler Titling B'
	font-weight 300
	font-style normal

h1, h2
	font-size 36px
	line-height 36px

.logo
	display inline-block
	// transform-origin: 0% 0%
	// transform: rotate(0deg)
	// transition transform 0.25s ease-out

	// &:hover
	// 	// transform: translate(0, 2px) rotate(2deg)
	// 	transform: rotate(25deg)

	.period
		color #ff0000
		color #666
		display none


#page


	#header
		padding 30px 40px


	#control-bar
		border-top 1px solid #333
		border-bottom 1px solid #333
		h = 125px
		height h
		display flex

		.selects
			display flex
			flex-direction column
			border-right 1px solid #333
			user-select none

			.select
				display flex
				max-width auto
				flex auto
				padding-right 40px

				border-bottom 1px solid #333
				&:last-child
					border-bottom none

				.option
					flex 1
					min-width 120.5px // +0.5 for better alignment with 120bpm two-octave sequences 
					position relative
					line-height (h/2)
					padding-left 40px
					cursor pointer
					color #999

					&:hover
						color #fff
					&:active
						color #ccc

					&.active
						color #fff
						font-weight bold

		.main
			padding-top 35px
			display flex

			.play
				width 75px
				height 75px

				margin 0 40px
				margin-top -10px

				user-select none

				circle
					fill #1a1a1a
					stroke-width 2
					stroke #808080
					cursor pointer
					&:hover
						stroke #b3b3b3
						+ polygon, + rect
							fill #fff

					&:active
						stroke #999
						fill #000

				polygon, rect // triangle
					fill #eee
					pointer-events none


				// flex auto

			// padding-top 25px

		// .selects
		// 	.select
		// 		.option

		// .main

	#piece
		// text.name
		// 	// fill #fff
		// 	text-anchor middle
		// 	font-size 12px

		text.name, text.instruction
			font-size 12px

		// text.instruction
		// 	fill #999

		// .contour
		// 	stroke #fff

		.error-vis
			rect
				shape-rendering crispEdges
		.seq-vis
			rect
				shape-rendering crispEdges
			.annotation
				font-size 12px

		.axis
			text
				font 10px sans-serif
				display none

			.domain
				display none

			line, path
				fill none
				stroke #666
				shape-rendering crispEdges
